@use "@/style/ref/variables.scss" as variables;

.information-container {
  .information-title {
    font-size: 80px;
    font-family: variables.$text-pixel;
   
    line-height: 100%;
    letter-spacing: -3px;
  }

  .information-description {
    font-family: variables.$text-primary;
    line-height: 110%;
    font-weight: 500;
  }
}

@media (min-width: 420px) {
  .information-container {
    .information-title {
      font-size: clamp(80px, 34.595px + 10.811vw, 96px);
    }
  }
}

@media (min-width: 568px) {
  .information-container {
    .information-description {
      width: 80%;
    }
  }
}

@media (min-width: 768px) {
  .information-container {
    .information-description {
      width: 58%;
    }
  }
}

@media (min-width: 1000px) {
  .information-container {
    .information-description {
      width: 85%;
    }
  }
}

@media (min-width: 1440px) {
  .information-container {
    .information-title {
      font-size: clamp(96px, -96px + 13.333vw, 160px);
    }
    .information-description {
      width: 66%;
      font-size: clamp(20px, 8px + 0.833vw, 24px);
    }
  }
}

@media (min-width: 1920px) {
  .information-container {
    .information-description {
      width: 80%;
    }
  }
}
