@function adaptive-margin($min, $max) {
  $min-width: 1000px;
  $max-width: 1920px;
  $min-w: 1000;
  $max-w: 1920;

  @return calc(
    #{$min}px +
      (#{($max - $min)} * ((100vw - #{$min-width}) / (#{$max-w} - #{$min-w})))
  );
}
