//Common
$brackets-gray-color: #707070;
$brackets-color: #fefefe;
$brackets-dark-gray-color: #404040;

$background-color: #121212;
$border-color: #707070;

$border-item-color: #404040;
//fonts color

$text-dark-gray-color: #404040;
$text-gray-color: #707070;
$text-default-color: #fefefe;
$text-description-color: #fefefecc;

// fonts family
$text-primary: "Rubik";
$text-category: "RubikMedium";
$text-titles: "Fairfax";

//hover see-more-section
$brackets-hover-color: #34d3d7;
$text-category-active-color: #34d3d7;
$border-active-color: #34d3d7;

//hover social-icons
$hover-social-icon-color: #fff;
