$main-background-color: #121212;
$shared-link-background-color: #202020;
$shared-link-mask-color: #404040;
$shared-link-mask-hover-color: #fefefe;

// fonts family
$text-primary: "Rubik";
$text-medium: "RubikMedium";
$text-pixel: "Fairfax";
$text-titles: "Fairfax";

//fonts colors
$text-default-color: #fefefe;
$text-gray-color: #707070;
$text-gray-dark-color: #404040;
$text-aqua-blue-color: #34d3d7;
$text-button-get-color: #121212;
$text-button-received-color: #404040;
$text-button-see-all-color: #121212;
$text-address-hover-color: #fefefe;

$border-color: #404040;
$border-avatar-hover-color: #34d3d7;

$button-get-background-color: #fefefe;
$button-received-background-color: #404040;
$button-see-all-background-color: #fefefe;
$button-see-all-shadow-color: #fefefe;
$button-hide-color: #707070;
$button-hide-shadow-color: #707070;
$button-copied-referral-link-background-color: #707070;
$button-copied-referral-link-hover-color: #fefefe;
